.progress-circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.progress-circle {
  transform: rotate(-90deg); /* Para que el círculo empiece desde arriba */
}

.progress-circle-bg {
  transition: stroke-dashoffset 0.5s ease;
}

.progress-circle-fg {
  transition: stroke-dashoffset 0.5s ease;
}
